<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Standard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen >
  <div style="margin-top: 2em;" fxLayout="column" fxLayoutAlign="center center">
    <ion-icon  color="primary" style="font-size: 8em;" name="shield-checkmark-outline"></ion-icon>
    <ion-icon color="danger" style="font-size: 8em;" name="close-circle-outline"></ion-icon>
    <form onsubmit="processForm(event)">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="stacked">Nombre
          </ion-label>
          <ion-input disabled  type="text" oninput="handleFirstNameValue(event)"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="stacked">Apellido
          </ion-label>
          <ion-input disabled type="text" oninput="handleLastNameValue(event)"></ion-input>
        </ion-item>
      </ion-list>
    </form>
    <ion-button class="ion-activatable ripple-parent" style="margin-top: 2em;" (click)="irHome()" expand="block" shape="round">
      Atras
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </ion-button>
  </div>
  
</ion-content>