
<ion-content>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div>
      <ion-icon  color="primary" style="font-size: 8em;" name="shield-checkmark-outline"></ion-icon>
    </div>
    <ion-card style="width: 80vw;">
      <ion-card-header>
        <ion-card-subtitle>Datos de su cuenta </ion-card-subtitle>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form>
          <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-item>
              <ion-label position="stacked">Nombre<ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input   type="text" ></ion-input>
            </ion-item>
      
            <ion-item>
              <ion-label position="stacked">Apellido<ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input  type="text" ></ion-input>
            </ion-item>
          </ion-list>
        </form>
        <ion-button (click)="login()" expand="block" fill="clear" shape="round">
          Login
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
