<ion-header translucent="true">
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="background: none transparent;">
  <ion-card>
    <ion-img src="/assets/img/guard.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="scanearQr()" color="primary" expand="full">
        Analizar
        <ion-icon name="qr-code-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
